.tm-logo-div img {
    width: 10vw;
}

.tm-logo-div {
    padding-top: 0px;
    padding-bottom: 0px;
}

.tm-main-nav {
    line-height: 1;
}

h2 {
    text-align: center;
}

.address img {
    width: 5vh;
}

.phone_address {
    display: flex;
    justify-content: space-around;
}